@font-face {
    font-family: 'Bebas Neue Cyrillic', sans-serif;
    src: url(/font/BebasNeueCyrillic.woff2);
    font-weight: 400;
}

@font-face {
    font-family: 'Bebas Neue', sans-serif;
    src: url(/font/BebasNeueBold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(/font/Inter-LightBETA.woff2);
    font-weight: 300;
}



@font-face {
    font-family: 'Inter', sans-serif;
    src: url(/font/Inter-Medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(/font/Inter-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(/font/Montserrat-Bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(/font/Montserrat-SemiBoldItalic.woff2);
    font-weight: 800;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(/font/OpenSans-Regular.woff2);
    font-weight: 400;
    
}