:root {
    --color-black: #101010;
    --color-dark: #34312D;
    --color-dark-grey: #2E2E2E;
    --color-grey-1: #4C4C4C;
    --color-grey-2: #4C4C4C;
    --color-light-grey:#B3B3B3;
    --color-grey-3: #E5E5E5;
    --color-bg: #F8F8F8;
    --color-white: #ffffff;
    --color-orange: #F57520;
    --color-orange-2: #EB6B16;
    --color-orange-3: #E1610C;
    --color-orange-4: #D75702;
    --color-red: #F53A20;
    --color-banner: #131313;
    --color-green: #4D932C;
}
